<?xml version="1.0" encoding="utf-8"?>
<DHD>
  <ShowSpotlight>false</ShowSpotlight>
  <PinnedFiles>
    <File>
      <FileName>Excel内置图标ID查看器及制作方式.xlsm</FileName>
      <FilePath>D:\DHD\OneDrive\Document\Office\Excel内置图标ID查看器及制作方式.xlsm</FilePath>
      <Mark>C7658FD599D14F3B8A368489AF7A12F7</Mark>
    </File>
    <File>
      <FileName>固定资产信息.xlsx</FileName>
      <FilePath>D:\DHD\OneDrive\Work\首开\Work_SK_SVN\信息\固定资产信息\固定资产信息.xlsx</FilePath>
      <Mark>F9C5ABA75206490EB26CB22B38E2BCF0</Mark>
    </File>
    <File>
      <FileName>导出志信OA数据.xlsm</FileName>
      <FilePath>D:\DHD\OneDrive\Work\首开\Work_SK_SVN\信息\志信OA信息导出\导出志信OA数据.xlsm</FilePath>
      <Mark>
      </Mark>
    </File>
    <File>
      <FileName>IPMAC表.xlsx</FileName>
      <FilePath>D:\DHD\OneDrive\Work\首开\Work_SK_SVN\网络\IPMAC表.xlsx</FilePath>
      <Mark>
      </Mark>
    </File>
    <File>
      <FileName>耗材信息.xlsx</FileName>
      <FilePath>D:\DHD\OneDrive\Work\首开\Work_SK_SVN\信息\耗材\耗材信息.xlsx</FilePath>
      <Mark>
      </Mark>
    </File>
    <File>
      <FileName>预装Office家庭版和学生版授权信息.xlsx</FileName>
      <FilePath>D:\DHD\OneDrive\Work\首开\Work_SK_SVN\信息\预装Office家庭版和学生版授权信息.xlsx</FilePath>
      <Mark>C552E0ECD534464B88353DEA908A9D53</Mark>
    </File>
  </PinnedFiles>
  <SpotlightColor>Red</SpotlightColor>
</DHD>